#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 60px;

}

#skills h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

#skills .second {
    color: var(--secondary-color);
}

#skills .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#skills .container .project-item {
    margin: 10px;
}

#skills .container .project-item img{
    width: 400px;
    border-radius: 10px;
}

@media (max-width: 900px) {
    #skills .container {
        display: block;
    }
}

