#about {
    height: 100vh;
    padding: 50px;

    background-color: rgba(224, 215, 215, 0.911);
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
}

.about-text .title-1{
    font-weight: bolder;
    font-size: 60px;
    margin-bottom: 10px;
}

.about-text .title-2 {
    font-size: 30px;
    margin-bottom: 40px;
}

.about-text span {
    color: var(--secondary-color);
}

.about-text p {
    margin: 10px 0;
    font-weight: 400;
    font-size: 20px;
}

.pic-profile {
    display: flex;
    justify-content: flex-start;
}

.pic {
    width: 28.125rem;
    border: 1px solid black;
    border-radius: 10px;
}

.social {
    margin-top: 10px;
}

.social .fa-brands {
    font-size: 50px;
    margin: 15px;
    cursor: pointer;
}

.social .fa-brands:hover {
    font-size: 70px;
    transition: 0.5s;
}

@media (max-width: 900px) {
    .pic-profile {
        display: none;
    }

    .about-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-text {
        align-items: flex-start;
    }
}