#navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* position: fixed;
    width: 100%;
    top: 0;
    right: 0; */

    font-weight: bold;

    padding-top: 30px;
    padding-bottom: 30px;
    border: none;

    background-image: url("../../../../public/assets/images/nav-bg.png");
}

#navbar .container .logo {
    font-size: 30px;
    color: var(--secondary-color);

    cursor: pointer;
}

#navbar .container .logo:hover {
    font-weight: bolder;
    color: var(--secondary-color);
    text-shadow: 0.5px 0.5px 10px var(--text-primary-color);
    transition: 0.5s;
}

#navbar .container .menu a{
    margin: 0 10px;

    font-size: 18px;
    text-shadow: 0.5px 0.5px 10px var(--text-primary-color);
}

#navbar .container .menu a:hover{
    margin: 0 15px;

    font-weight: bolder;
    font-size: 20px;
    color: var(--secondary-color);
    text-shadow: 0.5px 0.5px 10px var(--text-primary-color);
    
    transition: 0.5s;
}

#navbar .container .mobile-menu {
    display: none;
}

@media (max-width: 1085px) {
    #navbar .container .menu {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 100vw;
        height: 92vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateY(-110%);
        background-color: var(--primary-color);
    }

    #navbar .container .mobile-menu {
        display: block;
        cursor: pointer;
    }

    
    #navbar .container .mobile-menu:hover {
        color: var(--secondary-color);
        box-shadow: 0.5px 0.5px 20px var(--text-primary-color);
    
        transition: 0.5s;
    }

    #navbar .container .mobile-menu section {
        width: 30px;
        
        margin: 5px;

        border: 2px solid var(--secondary-color);
    }
}

#navbar .container .active {
    transform: translateY(0);
    transition: 0.5s;
}