.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    width: 100%;
    top: 0;
    right: 0;

    font-weight: bold;

    padding-top: 30px;

    /* border-bottom: 1px solid var(--secondary-color); */
}

.container .logo {
    font-size: 30px;
    color: var(--secondary-color);

    cursor: pointer;
}

.container .logo:hover {
    color: rgb(255, 1, 1);
    font-weight: bolder;
    text-shadow: 0.5px 0.5px 10px rgb(255, 255, 255);
    transition: 0.5s;
}

.container .menu a{
    margin: 0 10px;

    font-size: 18px;
}

.container .menu a:hover{
    margin: 0 15px;

    font-size: 20px;
    
    transition: 0.5s;
}

.container .menu a:hover{
    color: var(--secondary-color);
}

.container .mobile-menu {
    display: none;
}

@media (max-width: 1085px) {
    .container .menu {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 100vw;
        height: 92vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateY(-110%);
    }

    .container .mobile-menu {
        display: block;
        cursor: pointer;
    }

    .container .mobile-menu section {
        width: 30px;
        
        margin: 5px;

        border: 2px solid var(--secondary-color);
    }
}

.container .active {
    transform: translateY(0);
    transition: 0.5s;
}