#skills .container {
    background-image: url("../../../../public/assets/images/bg-skills.png");
    background-repeat: no-repeat;
}

#skills .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    justify-content: center;
    gap: 10px;

    padding: 100px 0;
}

#skills .content .item {
    width: 100px;
    height: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--secondary-color);
    border-radius: 15px;
    box-shadow: 2px 2px 10px var(--text-secondary-color);
}

#skills .content .item img {
    width: 60%;
}