/* GENERAL */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.25rem;
}

/* LOGO */
#header .logo {
    color: var(--primary-color);
}

#header .logo span {
    color: var(--secondary-color);
}

/* MENU LIST */
#header .list {
    display: flex;
}

#header .list a {
    letter-spacing: 0.1875rem;
    margin-left: 2rem;
}

/* MENU MOBILE */
#header .mobile-menu {
    display: none;
    cursor: pointer;
}

#header .mobile-menu div{
    width: 2rem;
    height: 0.0625rem;
    background-color: black;
    margin: 0.5rem;
}

@media (max-width: 900px) {
    #header .list {
        position: absolute;
        top: -100vh;
        right: 0;
        width: 100vw;
        height: 92vh;
        background-color: var(--primary-color);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateY(120%);
        transition: transform 0.3s ease-in;
    }

    .list a {
        margin-left: 0;

        color: white;
        font-size: 1.25rem;
    }

    #header .mobile-menu {
        display: block;
    }
}

#header .list.active {
    transform: translateX(0);
    opacity: 1;
}
