/* GENERAL */
#home {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* CONTAINER */
.container {
    margin-left: 40px;
}

/* PRESENTATION */
.container .presentation {
    font-weight: 500;
    color: var(--dark-black);
}

.container .presentation p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container .presentation span {
    color: var(--secondary-color);
}

.container .presentation .saudation {
    font-size: 3.125rem;
}

.container .presentation .border {
    padding: 0.625rem;
    margin: 0.625rem;
    border-radius: 15px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.container .presentation .name {
    font-size: 6.25rem;
    font-weight: bolder;
    margin: 0.625rem;
}

.container .presentation .job {
    font-size: 70px;
    font-weight: bolder;
    margin: 0.625rem;
}

/* BUTTONS */
.container .buttons {
    display: flex;
}

.container .buttons .contact{
    padding: 15px;
    margin: 10px;

    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;

    cursor: pointer;

    font-size: 20px;
    font-weight: 500;
}

.container .buttons .contact:hover {
    padding: 15px;
    margin-left: 30px;
    font-size: 15px;
    transition: 0.5s;
}

.container .buttons .projects {
    border: none;
    cursor: pointer;

    font-size: 20px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0);
    color: var(--dark-black);

    margin-left: 40px;
}

.container .buttons .projects:hover {
    font-size: 30px;
    color: var(--red-wine);
    transition: 0.5s;
}

@media (max-width: 900px) {
    #home {
        justify-content: center;
        align-items: center;
    }

    .container {
        margin-left: 0;
    }

    .container .presentation {
        text-align: center;
    }

    .container .presentation .saudation {
        font-size: 1.125rem;
    }

    .container .presentation .name {
        font-size: 3.25rem;
    }
    
    .container .presentation .job {
        font-size: 2.375rem;
    }

    .container .buttons {
        display: flex;
        flex-direction: column;
    }

    .container .buttons .projects {
        margin: 0;
    }
}