:root {
  --primary-color: rgb(24, 23, 23);
  --secondary-color: rgb(175, 0, 0);
  --text-primary-color: rgb(230, 215, 215);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);

  color: var(--text-primary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding: 100px 150px;
}

@media (max-width: 1085px) {
  .container {
    padding: 0 30px;
  }
}