:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(208, 20, 255);
  --text-primary-color: rgb(0, 0, 0);
  --text-secondary-color: rgb(0, 0, 0);
  --bg-second: rgb(132, 0, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  color: var(--text-primary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding: 120px 150px;
}

.text-color {
  color: var(--text-primary-color);
}

.sections-header {
  text-align: center;
}

.sections-header h3{
  font-size: 45px;
  text-shadow: 1px 1px 20px var(--secondary-color);
}

.sections-header p{
  font-size: 20px;
  font-weight: 700;
  color: var(--secondary-color);
}

@media (max-width: 1085px) {
  .container {
    padding: 100px 30px;
  }
}