#certificates .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    gap: 20px;

    padding: 100px 0;

}

#certificates .content .item {
    padding: 10px 0;

    text-align: center;
    color: var(--secondary-color);

    border-radius: 15px;
    background-color: rgba(3, 0, 29, 0.589);
}

#certificates .content .item:hover {
    text-shadow: 1px 1px 20px var(--secondary-color);
}

#certificates .content .item img{
    width: 300px;
    height: 250px;
}