* {
    padding: 0;
    margin: 0;
}

#experience {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#experience .title-1 {
    font-weight: bold;
}

#experience .title-2 {
    font-weight: bolder;
    font-size: 50px;
}

#experience .title-2 span {
    color: var(--red-wine);
}

#experience .experience-content {
    width: 80%;
}

#experience .experience-content .enterprises {
    display: flex;
    justify-content: center;
    align-items: center;
}

#experience .experience-content .logo {
    border-radius: 100%;
    padding: 20px;
}

#experience .experience-content .content {
    padding: 40px;
    background-color: #ececec;

    border-radius: 10px;
}

#experience .experience-content .content p {
    margin: 10px;

    font-size: 15px;
    font-weight: bold;
}

#experience .experience-content .content .red {
    color: var(--red-wine);
}