#experiences {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#experiences .title-1 {
    font-weight: bold;
}

#experiences .title-2 {
    font-weight: bolder;
    font-size: 50px;
}

#experiences .title-2 span {
    color: var(--secondary-color);
}

#experiences .experience-content {
    width: 80%;
}

#experiences .experience-content .enterprises {
    display: flex;
    justify-content: center;
    align-items: center;
}

#experiences .experience-content .logo {
    border-radius: 100%;
    padding: 20px;
    width: 200px;
}

#experiences .experience-content .content {
    padding: 40px;
    background-color: #ececec;

    border-radius: 10px;
}

#experiences .experience-content .content p {
    margin: 10px;

    font-size: 15px;
    font-weight: bold;
}

#experiences .experience-content .content .red {
    color: var(--secondary-color);
}

#experiences .experience-content .content .ano {
    font-size: 13px;
}

#experiences .experience-content .content .name {
    font-size: 18px;
}

@media (max-width: 900px) {
    .logo-enterprise {
        display: none;
    }
}