#experiences {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#experiences .title-1 {
    font-weight: bold;
}

#experiences .title-2 {
    font-weight: bolder;
    font-size: 3.125rem;
}

#experiences .title-2 span {
    color: var(--secondary-color);
}

#experiences .experience-content {
    width: 70vw;
}

#experiences .experience-content .enterprises {
    display: flex;
    justify-content: center;
    align-items: center;
}

#experiences .experience-content .logo-enterprise {
    border-radius: 100%;
    padding: 20px;
    width: 200px;
}

#experiences .experience-content .content {
    padding: 40px;
    width: 600px;
    margin: 5px;
    background-color: rgba(224, 215, 215, 0.911);
    border-radius: 10px;
}

#experiences .experience-content .content p {
    margin: 10px;

    font-size: 15px;
    font-weight: bold;
}

#experiences .experience-content .content .red {
    color: var(--secondary-color);
}

#experiences .experience-content .content .ano {
    font-size: 13px;
}

#experiences .experience-content .content .name {
    font-size: 18px;
}

@media (max-width: 900px) {
    .logo-enterprise {
        display: none;
    }

    #experiences .title-2 {
        font-weight: bolder;
        font-size: 2.125rem;
    }

    #experiences .experience-content .enterprises {
        margin: 10px;
    }
}